<!DOCTYPE html>
<html lang="hu"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="../../static/css/joboperations.css" th:href="@{/static/css/joboperations.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <title>ATS HR WEB-APP</title>
</head>
<body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" th:classappend="${#httpServletRequest.requestURI == '/home'} ? active : ''">
                        <a class="nav-link" th:href="@{/home}">Home</a>
                    </li>
                    <li class="nav-item" th:classappend="${#httpServletRequest.requestURI.startsWith('/job-operations/')} ? active : ''">
                        <a class="nav-link" th:href="@{/job-operations/1}">Pozíció nyilvántartás</a>
                    </li>
                    <li class="nav-item" th:classappend="${#httpServletRequest.requestURI == '/admin'} ? active : ''" sec:authorize="hasRole('ROLE_ADMIN')">
                        <a class="nav-link" th:href="@{/admin}">Szerepkörök</a>
                    </li>
                    <li class="nav-item" th:classappend="${#httpServletRequest.requestURI.startsWith('/employee-creator/')} ? active : ''" sec:authorize="hasRole('ROLE_HRVEZETO') or hasRole('ROLE_HRMUNKATARS')">
                        <a class="nav-link" th:href="@{/employee-creator/1}">Jelöltek</a>
                    </li>
                </ul>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="javascript: document.logoutForm.submit()"
                           role="menuitem">Kijelentkezés</a>

                        <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                            <input hidden type="submit" value="Sign Out"/>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>

        <div layout:fragment="content">
        </div>

</body>
</html>