<!DOCTYPE html>
<html layout:decorate="layouts/layout">

<head>
	<title>ATS</title>
</head>

<body>

<div layout:fragment="content">


		<div sec:authorize="hasRole('ROLE_ADMIN')" class="container">

			<div>
				<form action="/admin" class="container mySpace">
					<div class="form-group mb2">
						<input type="text" class="form-control" name="name" placeholder="Search User" />
						<input type="submit" value="Search" class="btn btn-primary" />
					</div>
				</form>

				<table class="table table-stripped">
					<tr>
						<th>Email</th>
						<th>Név</th>
						<th>Szerepkör</th>
						<th>Szerepkör műveletek</th>
					</tr>
					<tr th:each="user:${users}">
						<td th:text="${user.email}"></td>
						<td th:text="${user.fullName}"></td>
						<td th:text="${user.role}"></td>
						<td>
							<form action="#" th:action="@{/update/{email}(email=${user.email})}" method="post">

								<select name="role">
									<option>HR vezető</option>
									<option>HR munkatárs</option>
									<option>Szakmaivezető</option>
									<option>Szakmaimunkatárs</option>
									<option>None</option>
								</select>
								<button type="submit">Mentés</button>
							</form>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>

</body>

</html>