<!DOCTYPE html>
<html layout:decorate="layouts/layout">

<head>
	<title>ATS</title>
</head>

<body>


<div layout:fragment="content">
	<h2>Kezdőoldal</h2>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget risus nisl. Vestibulum ut enim erat. Sed sed diam molestie, dictum justo sit amet, hendrerit felis. Aenean in velit sem. Aliquam placerat nulla eros, sit amet hendrerit eros bibendum sed. Curabitur a viverra sem, sit amet suscipit ex. Etiam eu eleifend purus. Duis congue purus vel vehicula convallis. In maximus, justo sit amet convallis tempor, leo arcu faucibus metus, tincidunt vulputate magna enim sit amet mauris. Nulla tincidunt aliquet interdum. Nulla tincidunt nunc eu ullamcorper congue. Aliquam a dictum lacus, quis vestibulum nulla. Duis nec erat tincidunt, dapibus metus eget, pretium nisl.
	</p>
	<p>
		Curabitur maximus laoreet viverra. Maecenas sit amet aliquet risus, et gravida felis. Donec ut facilisis erat. Donec pellentesque a nibh in pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nibh purus, scelerisque sed lobortis nec, elementum nec turpis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
	</p>
</div>

</body>

</html>