<!DOCTYPE html>
<html lang="hu"
      xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="../static/css/joboperations.css" th:href="@{/css/joboperations.css}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>ATS</title>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/home}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/job-operations/1}">Pozíció nyilvántartás</a>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="nav-link active" th:href="@{/admin}">Szerepkörök</a>
            </li>
        </ul>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="javascript: document.logoutForm.submit()" role="menuitem">Kijelentkezés</a>

                <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                    <input hidden type="submit" value="Sign Out"/>
                </form>
            </li>
        </ul>
    </div>
</nav>




<!--<div class="container">

    <div>
        <form action="/jeloltek" class="container mySpace">
            <div class="form-group mb2">
                <input type="text" class="form-control" name="name" placeholder="Search User" />
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>

        <table class="table table-stripped">
            <tr>
                <th>Email</th>
                <th>Name</th>

            </tr>
            <tr th:each="jelolt:${jeloltek}">
                <td th:text="${jelolt.email}"></td>
                <td th:text="${jelolt.fullName}"></td>

            </tr>
        </table>
    </div>

</div>-->
<div class="container">
    <table  class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Email</th>
            <th scope="col">Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="jelolt : ${jelolts}" >
            <td th:text="${jelolt.mail}"></td>
            <td th:text="${jelolt.firstName}"></td>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:if="${actualPage} > 1">
                <a class="page-link" th:href="@{|/jeloltek/${actualPage - 1}|}" tabindex="-1"
                   aria-disabled="true">Previous</a>
            </li>
            <li class="page-item disabled" th:if="${actualPage} == 1">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            <th:block th:each="i: ${#numbers.sequence(0, numberOfPages)}">
                <li class="page-item active" th:if="${actualPage} == ${i + 1}">
                    <a class="page-link" th:text="${i + 1}" th:href="@{|/jeloltek/${i + 1}|}"></a>
                </li>
                <li class="page-item" th:if="${actualPage} != ${i + 1}">
                    <a class="page-link" th:text="${i + 1}" th:href="@{|/jeloltek/${i + 1}|}"></a>
                </li>
            </th:block>
            <li class="page-item" th:if="${actualPage} < ${numberOfPages + 1}">
                <a class="page-link" th:href="@{|/jeloltek/${actualPage+1}|}">Next</a>
            </li>
            <li class="page-item disabled" th:if="${actualPage} == ${numberOfPages + 1}">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</div>

</div>


</body>

</html>