<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymleaf.org">
<head>
    <title>Pozíció nyilvántartása</title>
    <meta charset="UTF-8">
</head>
<body>
<form action="create-job" method="post" th:object="${job}">
    <span>Pozició neve:</span>
    <select name="job-name">
        <option th:each="type : ${types}" th:value="${type.jobName}" th:text="${type.jobName}"></option>
    </select>
    <span>Szint:</span>
    <select name="job-level">
        <option th:each="level : ${levels}" th:value="${level.level}" th:text="${level.level}"></option>
    </select>
    <span>Telephely:</span>
    <select name="location">
        <option th:each="location : ${locations}" th:value="${location.city}" th:text="${location.city}"></option>
    </select>
    <button type="submit">Mentés</button>
</form>
</body>
</html>