<!DOCTYPE html>
<html layout:decorate="layouts/layout" xmlns:th="http://www.springframework.org/schema/jdbc">

<head>
    <meta id="csrf_token" th:name="_csrf" th:content="${_csrf.token}" />
    <link href="../static/css/joboperations.css" th:href="@{/css/joboperations.css}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="../static/js/joboperations.js" th:src="@{/js/joboperations.js}" type="text/javascript"></script>
    <title>ATS</title>
    <style>
        body{
            background-color: white !important;
        }
        .container{
            max-width: 90%;
        }
        #job-table{
            border-collapse: collapse;
            border-radius: 5px;
            overflow: hidden
        }

    </style>
</head>

<body>
<div  layout:fragment="content">
    <div class="container" style="margin-top: 40px">
        <div class="row pt-2">
            <div class="col-3" sec:authorize="hasRole('ROLE_SZAKMAIVEZETO')">
                <div class="accordion" id="job-operation-accordion">
                    <div class="card">
                        <div class="card-header" id="jobreg-heading">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                        data-target="#jobreg-collapse" aria-expanded="true" aria-controls="jobreg-collapse">
                                    Nyitott pozíció meghírdetése
                                </button>
                            </h2>
                        </div>
                        <div id="jobreg-collapse" class="collapse" aria-labelledby="jobreg-heading" data-parent="#job-operation-accordion">
                            <div class="card-body">
                                <form action="/create-job" method="post">
                                    <div class="form-group">
                                        <label for="job-name-select">Pozició neve</label>
                                        <select id="job-name-select" class="form-control" name="type">
                                            <option th:each="type : ${types}" th:value="${type.id}" th:text="${type.name}"></option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="job-level-select">Szint</label>
                                        <select id="job-level-select" class="form-control" name="level">
                                            <option th:each="level : ${levels}" th:value="${level.id}"
                                                    th:text="${level.level}"></option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="job-location-select">Telephely</label>
                                        <select id="job-location-select" class="form-control" name="location">
                                            <option th:each="location : ${locations}" th:value="${location.id}" th:text="${location.city}"></option>
                                        </select>
                                    </div>
                                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                    <button type="submit" class="btn btn-primary">Mentés</button>
                                </form>
                            </div>
                        </div>

                    </div>

                    <div class="card">
                        <div class="card-header" id="property-heading">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#property-collapse" aria-expanded="false" aria-controls="property-collapse">
                                    Pozíció rögzítése
                                </button>
                            </h2>
                        </div>
                        <div id="property-collapse" class="collapse" aria-labelledby="property-heading" data-parent="#job-operation-accordion">
                            <div class="card-body">
                                <form action="/save-job-props" method="post">
                                    <div class="form-group">
                                        <label for="job-name-input">Pozició neve</label>
                                        <input id="job-name-input" class="form-control" type="text" name="job-name" placeholder="Pl.:Rendszergazda" value="">
                                    </div>
                                    <div class="form-group">
                                        <label for="job-level-input">Szint</label>
                                        <input id="job-level-input" class="form-control" type="text" name="job-level" placeholder="Pl.:Junior" value="">
                                    </div>
                                    <div class="form-group">
                                        <label for="job-location-input">Telephely</label>
                                        <input id="job-location-input" class="form-control" type="text" name="location" placeholder="Pl.:Debrecen" value="">
                                    </div>
                                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                    <button type="submit" class="btn btn-primary">Mentés</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <table id="job-table" class="table table-hover" >
                    <thead style="background-color: #3d4849; color: white">
                    <tr>
                        <th scope="col">Név</th>
                        <th scope="col">Szint</th>
                        <th scope="col">Telephely</th>
                        <th scope="col">Meghírdetés dátuma</th>
                        <th scope="col"  sec:authorize="hasRole('ROLE_SZAKMAIVEZETO')">Műveletek</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="job : ${jobs}" th:if="${job.displayStatus}" th:attr="data-job-id=${job.id}" data-job-id="1">
                        <td th:text="${job.type.name}">Szoftverfejlesztő</td>
                        <td th:text="${job.level.level}">Junior</td>
                        <td th:text="${job.location.city}">Debrecen</td>
                        <td th:text="${job.createdDate}">2019-10-17</td>
                        <td sec:authorize="hasRole('ROLE_SZAKMAIVEZETO')">
                            <form method="post" action="/delete-job">
                                <input type="hidden" name="job_id" th:value="${job.id}">
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                <button sec:authorize="hasRole('ROLE_SZAKMAIVEZETO')" type="submit" class="btn btn-danger">Pozíció lezárása</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:if="${hasPrev}">
                            <a class="page-link" th:href="@{|/job-operations/${actualPage - 1}|}" tabindex="-1"
                               aria-disabled="true">Vissza</a>
                        </li>
                        <li class="page-item disabled" th:if="${!hasPrev}">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Vissza</a>
                        </li>
                        <th:block th:each="i: ${#numbers.sequence(0, numberOfPages - 1)}">
                            <li class="page-item active" th:if="${actualPage} == ${i + 1}">
                                <a class="page-link" th:text="${i + 1}" th:href="@{|/job-operations/${i + 1}|}"></a>
                            </li>
                            <li class="page-item" th:if="${actualPage} != ${i + 1}">
                                <a class="page-link" th:text="${i + 1}" th:href="@{|/job-operations/${i + 1}|}"></a>
                            </li>
                        </th:block>
                        <li class="page-item" th:if="${hasNext}">
                            <a class="page-link" th:href="@{|/job-operations/${actualPage + 1}|}">Következő</a>
                        </li>
                        <li class="page-item disabled" th:if="${!hasNext}">
                            <a class="page-link" href="#">Következő</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
</body>
</html>